:root {
    /* Dark theme */
    --dark-body-background: #000;
    --dark-body-foregeound: #fff;

    --dark-table-background: #333;
    --dark-table-border: #ccc;

    --dark-a-text: #0f6;
    --dark-a-text-hovered: #06f;

    --dark-input-background: #333;
    --dark-input-text: #fff;

    --dark-erase-button-backgroud: #c00;
    --dark-erase-button-active-backgroud: #500;
    
    --dark-submit-button-backgroud: #06c;
    --dark-submit-button-active-backgroud: #005;

    --dark-cancelled-text: #888;

    --dark-input-range-thumb: #5cd5eb;
    --dark-input-range-runnable-track: #053a5f;
    
    --dark-color-mode-button-left: #333;
    --dark-color-mode-button-right: #ccc;

    /* Light theme */
    --light-body-background: #fff;
    --light-body-foregeound: #000;

    --light-table-background: #ccc;
    --light-table-border: #333;

    --light-a-text: #06f;
    --light-a-text-hovered: #0f6;

    --light-input-background: #fff;
    --light-input-text: #000;
    
    --light-erase-button-backgroud: #c00;
    --light-erase-button-active-backgroud: #f30;
    
    --light-submit-button-backgroud: #06c;
    --light-submit-button-active-backgroud: #08f;
    
    --light-cancelled-text: #888;
    
    --light-input-range-thumb: #053a5f;
    --light-input-range-runnable-track: #5cd5eb;
    
    --light-color-mode-button-left: #ccc;
    --light-color-mode-button-right: #333;
}

:root.theme-dark {
    /* Dark theme */
    --current-body-background: var(--dark-body-background);
    --current-body-foreground: var(--dark-body-foregeound);
    --current-table-background: var(--dark-table-background);
    --current-table-border: var(--dark-table-border);
    --current-a-text: var(--dark-a-text);
    --current-a-text-hovered: var(--dark-a-text-hovered);
    --current-input-background: var(--dark-input-background);
    --current-input-text: var(--dark-input-text);
    --current-erase-button-backgroud: var(--dark-erase-button-backgroud);
    --current-erase-button-active-backgroud: var(--dark-erase-button-active-backgroud);
    --current-submit-button-backgroud: var(--dark-submit-button-backgroud);
    --current-submit-button-active-backgroud: var(--dark-submit-button-active-backgroud);
    --current-cancelled-text: var(--dark-cancelled-text);
    --current-input-range-thumb: var(--dark-input-range-thumb);
    --current-input-range-runnable-track: var(--dark-input-range-runnable-track);
    --current-color-mode-button-left: var(--dark-color-mode-button-left);
    --current-color-mode-button-right: var(--dark-color-mode-button-right);
}

:root.theme-light {
    /* Light theme */
    --current-body-background: var(--light-body-background);
    --current-body-foreground: var(--light-body-foregeound);
    --current-table-background: var(--light-table-background);
    --current-table-border: var(--light-table-border);
    --current-a-text: var(--light-a-text);
    --current-a-text-hovered: var(--light-a-text-hovered);
    --current-input-background: var(--light-input-background);
    --current-input-text: var(--light-input-text);
    --current-erase-button-backgroud: var(--light-erase-button-backgroud);
    --current-erase-button-active-backgroud: var(--light-erase-button-active-backgroud);
    --current-submit-button-backgroud: var(--light-submit-button-backgroud);
    --current-submit-button-active-backgroud: var(--light-submit-button-active-backgroud);
    --current-cancelled-text: var(--light-cancelled-text);
    --current-input-range-thumb: var(--light-input-range-thumb);
    --current-input-range-runnable-track: var(--light-input-range-runnable-track);
    --current-color-mode-button-left: var(--light-color-mode-button-left);
    --current-color-mode-button-right: var(--light-color-mode-button-right);
}

body {
    background-color: var(--current-body-background);
    color: var(--current-body-foreground);
}

table {
    background-color: var(--current-table-background);
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--current-table-border);
    padding: 8px;
    text-align: left;
}

a {
    color: var(--current-a-text);
}

a:hover {
    color: var(--current-a-text-hovered);
    transition-duration: 0.5s;
}

button {
    background-color: var(--current-table-background);
    border: 1px solid var(--current-table-border);
    color: var(--current-body-foreground);
}

input,
textarea {
    background-color: var(--current-input-background);
    color: var(--current-input-text);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--current-input-range-runnable-track);
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--current-input-range-thumb);
    height: 1rem;
    width: 0.5rem;    
}

input[type="range"]:hover {
    outline: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
    border: 1px solid var(--current-input-range-runnable-track);
    outline: 3px solid var(--current-input-range-runnable-track);
    outline-offset: 0.125rem;
}

#color-mode{
    background: linear-gradient(90deg, var(--current-color-mode-button-left) 0%, var(--current-color-mode-button-right) 100%);
}

#erase{
    background-color: var(--current-erase-button-backgroud);
}

#erase:active{
    background-color: var(--current-erase-button-active-backgroud);
}

#htmlCheckbox:checked+span{
    color: var(--current-cancelled-text);
    text-decoration: line-through;
}

#submit{
    background-color: var(--current-submit-button-backgroud);
}

#submit:active{
    background-color: var(--current-submit-button-active-backgroud);
}